/** 全局 **/
[v-cloak] {display:none;}
* {
  border: 0;
  padding: 0;
  margin: 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clear {
  clear: both;
}

a:link, a:visited {
  color: #409eff;
  text-decoration: none;
}
a:hover, a:active {
  color: #66b1ff;
}

/** 主题样式 **/

header {
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  overflow:hidden!important;
}
header .logo{
  font-size: 28px;
  line-height: 60px;
  color: #666;
  cursor: pointer;
}
header .logo em {
  font-size: 12px;
  margin-left: 6px;
  color: #fff;
  background: #409eff;
  font-style: normal;
  padding: 0 6px;
  border-radius: 2px;
  position: relative;
  bottom: 16px;
}
.main-container {
  min-height: 860px;
}
footer {
  text-align: center;
  box-shadow: 0 -2px 2px rgba(0,0,0,.2);
  background: rgba(0,0,0,.05);
  color: #999;
  padding-top: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 12px;
  line-height: 18px;
}
footer p:first-child{
  line-height: 24px;
  font-size: 14px;
}
.breadcrumb {
  margin-bottom: 20px;
}
.nothing-container {
  width: 300px;
  margin: 40px auto;
  text-align: center;
}
.nothing-container .pic-container {
  width: 300px;
  height: 300px;
  background: #F2F6FC;
  border: 1px solid #EBEEF5;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.nothing-container p {
  font-size: 36px;
  color: #909399;
  margin-top: 40px;
}

.page-navigator-container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.page-navigator {
  user-select: none;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
.page-navigator li {
  margin: 0 4px;
  background-color: #f4f4f5;
  min-width: 30px;
  border-radius: 2px;
  padding: 0 4px;
  vertical-align: top;
  display: inline-block;
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}
.page-navigator li a {
  color: #606266;
}
.page-navigator .current {
  background-color: #409eff;
}
.page-navigator .current a {
  color: #fff;
}

/** 覆盖element的样式 **/
.el-menu {
  border-right: 0!important;
}
.el-card {
  margin-bottom: 20px;
}
.el-alert {
  margin-bottom: 20px;
}